[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "==4.2"
robotframework = "==6.0"
robotframework-pabot = "==2.6.0"
robotframework-seleniumlibrary = "==6.0"
browserstack-sdk = "*"
# Conditional dependencies for macOS
pyobjc-core = {version = "*", markers = "sys_platform == 'darwin'"}

[dev-packages]

[requires]
python_version = ">=3.8"
