selenium
robotframework==4.0
robotframework-docker==1.1.0
robotframework-pabot==1.10.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==5.1.0
robotframework-sshlibrary==3.6.0
allure-robotframework==2.8.40
